.background-primary{
	background-color: #eaeff8;
}

.background-white{
	background-color: #ffffffcc;
}

.content-container{
	width: 97.45vw;
	height: 83.5vh;
}

.tool-info{
	width: 100%;
	height: 37.6vh;
	border: 1px #bbc4d2 solid;
}

.tool-info-container{
	width: 60.5vw;
	height: 77.58vh;
	margin-top: 2.96vh;
	margin-left: 4.008vw;
}

.tool-confirm-container{
	width: 32.8vw;
	height: 77.58vh;
	margin-top: 2.96vh;
	margin-left: 1.197vw;
	border: 1px #bbc4d2 solid;
}