.home {
    background-color: rgba(255, 255, 255, 0.8);
}

.home-container {
    width: 100%;
    height: 80vh;
    padding: 15px 0;
    overflow-x: hidden;
}

hr {
    margin: 0 .25rem !important;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1) !important;
}

.row {
    padding: 0 15px;
}

.home-content {
    padding: 0 15px;
    border: 0;
}

/* footer */

.phone-footer {
    width: 100vw;
    height: 10vh;
    line-height: 10vh;
    background-color: #fff;
    position: fixed;
    bottom: 0;
}

.phone-footer-img {
    padding: 0;
    text-align: center;
}

.phone-footer-container {
    float: left;
    text-align: center;
    width: 14.28571428571429%;
}

.phone-footer-container:hover {
    background-color: #444a5a;
}

.phone-footer-container img {
    height: 6vh;
    width: 13vw;
}

/* for rwd screen */

@media screen and (min-width: 992px) {
    body {
        overflow-y: hidden;
    }
    .w-lg-20 {
        float: left;
        width: 20%;
        padding: 5px 15px;
    }
    .w-lg-40 {
        float: left;
        width: 40%;
        padding: 5px 15px;
    }
    .w-lg-50 {
        float: left;
        width: 50%;
        padding: 5px 15px;
    }
    .w-lg-60 {
        float: left;
        width: 60%;
        padding: 5px 15px;
    }
    .w-lg-80 {
        float: left;
        width: 80%;
        padding: 5px 15px;
    }
    .w-lg-100 {
        float: left;
        width: 100%;
        padding: 5px 15px;
    }
    .h-lg-100 {
        height: 100%;
    }
    .h-lg-90 {
        height: 90%;
    }
    .h-lg-80 {
        height: 80%;
    }
    .h-lg-60 {
        height: 60%;
    }
    .h-lg-40 {
        height: 40%;
    }
    .h-lg-10 {
        height: 10%;
    }
}

@media screen and (max-width: 992px) {
    .w-xs-15 {
        float: left;
        width: 15%;
        padding: 5px 15px;
    }
    .w-xs-20 {
        float: left;
        width: 20%;
        padding: 5px 15px;
    }
    .w-xs-25 {
        float: left;
        width: 25%;
        padding: 5px 15px;
    }
    .w-xs-30 {
        float: left;
        width: 30%;
        padding: 5px 15px;
    }
    .w-xs-70 {
        float: left;
        width: 70%;
        padding: 5px 15px;
    }
    .w-xs-100 {
        float: left;
        width: 100%;
        padding: 5px 15px;
    }
    .hide-on-phone {
        display: none;
    }
}