  #mbg{
    background-image: url(BG.png);
    background-repeat: no-repeat;
    background-size: auto 750px;
    height: 100%;
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 842px;
    min-width: 1062px;
  }
  .from-btm{
    padding-top: 360px;
  }
  .transparent{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }
  .left{
    position: absolute;
    top: 47%;
    font-size: 2.5rem;
  }
  .right{
    position: absolute;
    top: 47%;
    font-size: 2.5rem;
    right: 0px;
  }
  .mc{
    position: absolute;
    border-radius: 43px;
    height: 40px;
    width: 40px;
    margin-left: calc( 23px / 4);
    box-shadow:  0 0 0.2rem 0 #808A87;
  }
  .mctext{
    position: absolute;
    display: block;
    color: #FFF;
    margin-top: 4px;
    padding: 0 0.25rem;
    font-size: 12px;
    background: #19a4bb;
  }
  .mctitle{
    position: absolute;
    width: 7rem;
    padding: 0 .5rem;
    text-align: center;
    border: 2px solid #19a4bb;
    background: rgba(255,255,255,0.7);
    font-size: 1.25rem;
  }
  .mcSquare{
    top: 170px;
    left: 620px;
  }
  .mcSquare-1{
    top: 450px;
    left: 350px;
  }
  .mcArrowUse{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 0;
    border-color: transparent #f09431 transparent transparent;
  }
  .mcArrow{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.375px 12.5px 9.375px 0;
    border-color: transparent #706f6f transparent transparent;
  }
  .mcArrowG{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 0;
    border-color: transparent #4aa49f transparent transparent;
  }
  .mcArrow3Green{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.375px 12.5px 9.375px 0; /* Arrow 3: Lef */
    border-color: transparent #4aa49f transparent transparent; /*Green*/
  }
  .mcArrow3Gray{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.375px 12.5px 9.375px 0; /* Arrow 3: Lef */
    border-color: transparent #706f6f transparent transparent; /*Gray*/
  }
  .mcArrow1Gray{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 0; /* Arrow 1: Right-Up */
    border-color: transparent #706f6f transparent transparent; /* Gray */
  }
  .mcArrow1Green{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 0; /* Arrow 1: Right-Up */
    border-color: transparent  #4aa49f transparent transparent; /* Gray */
  }
  .mcArrow1Blue{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 0; /* Arrow 1: Right-Up */
    border-color: transparent  #3e568c transparent transparent; /* Orange */
  }
  .mcArrow1Use{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 0; /* Arrow 1: Right-Up */
    border-color: transparent  #f09431 transparent transparent; /* Orange */
  }
  .mcArrow3Use{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.375px 12.5px 9.375px 0;  /* Arrow 3: Lef */
    border-color: transparent  #f09431 transparent transparent; /* Orange */
  }
  .mcArrow3Blue{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.375px 12.5px 9.375px 0;  /* Arrow 3: Lef */
    border-color: transparent  #3e568c transparent transparent; /* Orange */
  }
  .mcTriangle {
    top: 425px;
    left: 470px;
  }
  .mcTriangle-1{
    top: 440px;
    left: 455px;
  }
  .mcTriangle-2 {
    top: 470px;
    left: 330px;
  }
  .mcTriangle-3{
    top: 470px;
    left: 310px;
  }
  .mcOther{
    margin-left: -4rem;
    margin-top: 0.75rem;
  }
  .mcCV{
    margin-left: -3rem;
    margin-top: 0.75rem;
  }
  .mcCNC{
    margin-top: 4.25rem;
    margin-left: 0rem;
  }
  .mcCNC:nth-child(odd){
    /* margin-top: -1.75rem;
    margin-left: -10px; */
  }
  .c3{
    top: 670px;
    left: 210px;
  }
  .c4{
    top: 670px;
    left: 280px;
  }
  .c5{
    top: 670px;
    left: 355px;
  }
  .c6{
    top: 670px;
    left: 430px;
  }
  .c0{
    top: 370px;
    left: 115px;
  }
  .c1{
    top: 255px;
    left: 875px;
  }
  .c2{
    top: 670px;
    left: 115px;
  }
  .c8{
    top: 121.5px;
    left: 536.7px;
  }
  .c7{
    top: 255px;
    left: 536.7px;
  }
  /* .c7{ */
    /* top: 365px; */
    /* left: 553.5px; */
  /* } */
  .mc-small{
    border-radius: 18px;
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 10px;
  }
  .mc-run{
    /* background-image: radial-gradient(white, #4aa49f 30%, #118781 50%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.6) 100%); */
    background: url("./Run.png")  no-repeat center;
    background-size: contain;
  }
  .mc-shut{
    background-image: radial-gradient(white, #C0C0C0 30%, #808A87 50%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.6) 100%);
  }
  .mc-error{
    /* background-image: radial-gradient(white, #f2a14f 30%, #f08e2b 50%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.6) 100%); */
    background: url('./Error.png') no-repeat center;
    background-size: contain;
  }
  .mc-downtime{
    /* background-image: radial-gradient(white, #5e73a2 30%, #36518d 50%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.6) 100%); */
    background: url('./Idle.png') no-repeat center;
    background-size: contain;
  }
  .resultAnalysis-panel{
    position: relative;
   }
  .resultAnalysis-item{
    z-index: 1000;
    top: 4rem;
    left: 2rem;
    width: 4rem;
    position: absolute;
  }
  .resultAnalysis-items{
    padding-top: 1rem;
    display: block;
    color: #A8ACC2;
    text-align: center;
    font-size: .75rem;
  }
  .resultAnalysis-name{
    border-bottom: 1px solid rgba(0,0,0,.125);
    /* padding-bottom: .25rem; */
  }