/* In alphabetical order */

a:visited,
a:active,
a:link,
a:hover {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #eaeff7;
}

select {
    text-align-last: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("icon/select_arrow.png");
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

textarea {
    resize: none;
    overflow-y: scroll;
}

textarea::-webkit-scrollbar,
.tool-storage-content::-webkit-scrollbar {
    width: 1.375rem;
}

textarea::-webkit-scrollbar-track,
.tool-storage-content::-webkit-scrollbar-track {
    border-left: 1px solid #bbc4d2;
    border-right: 1px solid #bbc4d2;
    padding: 0 0;
    background-color: #c9d1dc;
}

textarea::-webkit-scrollbar-button:single-button:vertical:decrement,
.tool-storage-content::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-left: 1px solid #bbc4d2;
    border-right: 1px solid #bbc4d2;
    border-top: 1px solid #bbc4d2;
    background-color: #c9d1dc;
    background-image: url("icon/scroll-uparrow.png");
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

textarea::-webkit-scrollbar-button:single-button:vertical:increment,
.tool-storage-content::-webkit-scrollbar-button:single-button:vertical:increment {
    border-left: 1px solid #bbc4d2;
    border-right: 1px solid #bbc4d2;
    border-bottom: 1px solid #bbc4d2;
    background-color: #c9d1dc;
    background-image: url("icon/scroll-downarrow.png");
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/* class selector */

.background-primary {
    background-color: #eaeff8cc;
}

.background-white {
    background-color: rgb(255, 255, 255, 0.8);
}

.bottom-navbar {
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0px;
}

.bottom-navitem {
    width: 20%;
    height: 100%;
}

.card-header {
    height: 12%;
}

.diagnosisForm {
    width: 54%;
    height: 71%;
    margin-right: 6%;
    margin-top: 4%;
    float: right;
    border: 1px #bbc4d2 solid;
    padding-right: 20px;
    background-color: rgb(234, 239, 248, 0.8);
}

.diagnosisForm input {
    width: 25%;
}

.diagnosisForm>div>span {
    width: 20%;
    color: #6a7cb1;
    font-size: 1.125rem;
}

.diagnosisForm span {
    line-height: 12px;
}

.diagnosisForm>div>textarea {
    width: 80%;
}

.diagnosisForm>div>input,
.diagnosisForm>div>textarea {
    color: #6a7cb1;
    font-size: 0.75rem;
    border: 1px #bbc4d2 solid;
}

textarea {
    padding-right: -2px;
    padding: 0px !important;
}

.diagnosisForm>div>textarea {
    overflow-y: scroll;
}

textarea::-webkit-scrollbar {
    width: 20px;
    background: rgb(147, 158, 158);
}

.diagnosisDescribe-mobile {
    height: 20vh;
    width: 90%;
    margin-left: 5%;
}

.diagnosisDescribe-mobile textarea {
    height: 80%;
    width: 100%;
    margin-top: 1%;
}

.diagnosisResult-mobile {
    height: 5vh;
    width: 90%;
    margin-left: 5%;
}

.diagnosisResult-mobile input {
    width: 70%;
    margin-left: 5%;
    text-align: center;
}

.lineChartDiv {
    width: 94%;
    height: 86%;
    margin: 0 3%;
}

.ringChartDiv {
    width: 32.5%;
    height: 86%;
    margin-left: 3%;
    float: left;
}

.ringChartDiv-mobile {
    width: 94%;
    height: 40vh;
    margin: 0 3%;
}

.similarity {
    margin-top: 1.5vh;
    height: calc(50% - 1.33vh);
    width: 96.4583vw;
    margin-left: 1.77083vw;
}

.similarity-div {
    width: 47.8645vw;
    border: 1px #bbc4d2 solid;
}

.spindleChart {
    margin-top: 1.5vh;
    height: 50%;
    width: 96.4583vw;
    margin-left: 1.77083vw;
}

.spindleChart-div {
    width: 31.66vw;
    border: 1px #bbc4d2 solid;
}

.subtitle {
    font-size: 0.75rem;
    color: #2d3d4f;
}

.subtitleDiv {
    width: 94%;
    height: 13%;
    margin: 0 3%;
    color: #000;
    border-bottom: 2px #bbc4d2 solid;
}

.text-style-1 {
    font-family: Microsoft JhengHei;
    font-weight: normal;
}

.text-style-2 {
    font-family: Microsoft JhengHei;
    font-weight: bold;
}