input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-inner-spin-button{
    display: none;
}
input[type=datetime-local]{
    border: 1px solid #8190b2;
    color: #9496af;
    width: 160px;
    height: 30px;
    background-color: white;
    text-align: center;
    text-align-last: center;
    font-size: .65rem;
    border: 1px solid #8190b2
}

input[type=datetime-local].dateSet{
    line-height: initial;
    margin-top: 15px;
    width: 150px;
    border: 1px #6096dd dotted;
    height: 25px;
    color: #8898bd;
}

input[type=datetime-local].analysisSet{
    margin-top: 15px;
    width: 200px; 
    border: 1px #6096dd solid;
    color: #8898bd;
    font-size: inherit;
}


