/* body {
    width: calc( 100% - 3rem);
    background-color: #EAEEF7;
    float: right;
} */

.main {
    position: absolute;
    width: calc(100% - 3rem);
    left: calc(3rem);
    padding: 0;
}

.container-fluid {
    padding: 1rem 2rem;
}

hr {
    border: 0;
    border-top: 2px #C6CAD5 solid;
}

.blue {
    color: #8898bd !important;
}

.table-header {
    background-color: #8596c1;
    color: #fff;
}

.content {
    background-color: #fff;
    border: 5px solid #EAEEF7;
    padding: .5rem 1rem;
    height: calc(100% - 2rem);
}

.custom-button {
    background-color: #CAD2E3;
    color: #5B6E8F;
    cursor: pointer;
    padding: 0 1rem;
}

.font-text-sm {
    font-size: 14px;
}

.hr-sm {
    margin: 10px 0px;
}

#hide {
    padding-top: 0.3rem;
    width: 2.5rem;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #7f92b9;
    background-image: linear-gradient(#7f92b9, #a6afcc, #c1c7dd);
    text-align: center;
}

#hide img {
    margin: 0.7rem 0;
}

#menu2 {
    top: 3.2rem;
}

#menu3 {
    top: 6.4rem;
}

#menu4 {
    top: 9.6rem;
}

.hidden-menu {
    position: absolute;
    left: 3.8rem;
    background-color: #7f92b9;
    color: white;
    font-size: 1.3rem;
    padding: 1rem 2rem 1rem 4rem;
    display: none;
    box-shadow: 0 0 5px #99969f;
    background-image: linear-gradient(to bottom right, #ffffff, #9ea1c0, #9499b9);
}

.hidden-menu .material-icons {
    font-size: 1.6rem;
    position: absolute;
    top: 1.1rem;
    left: 1.5rem;
}

.hidden-menu:before {
    content: "";
    position: absolute;
    right: 104%;
    top: 37%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 11px solid #000000;
    border-bottom: 10px solid transparent;
}

.aside {
    display: none;
    margin: 1rem 0vw 1rem 0vw;
    width: 9.6vw;
    height: 96vh;
    background-color: #909ebb;
    float: left;
    position: absolute;
    left: -200px;
}

.aside span {
    font-size: 1rem;
    font-family: Microsoft JhengHei;
}

ul.side-menu {
    text-align: center;
    margin: 8.5vh 0 0 0;
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
}

ul.side-menu li {
    position: relative;
    white-space: nowrap;
    margin: 0.5vh 0 0 0;
}

ul.side-menu>li:last-child {
    border-right: none;
}

ul.side-menu>li {
    float: left;
    /* 只有第一層是靠左對齊*/
}

ul.side-menu a {
    text-align: center;
    background-color: #909ebb;
    width: 9.6vw;
    color: #fff;
    display: block;
    padding: 0;
    text-decoration: none;
    line-height: 50px;
}

ul.side-menu a:hover {
    /* 滑鼠滑入按鈕變色*/
    background-color: #687595;
    color: #fff;
}

ul.side-menu li:hover>a {
    /* 滑鼠移入次選單上層按鈕保持變色*/
    /* background-color: #687595; */
    background: -webkit-gradient(linear, left top, right bottom, from(#FFF), color-stop(#687595), to(#687595));
    background: linear-gradient(to bottom right, #FFF, #687595, #687595);
    color: #fff;
}

ul.side-menu ul {
    position: absolute;
    z-index: 99;
    left: 9.6vw;
    top: 0%;
    width: 5vw;
}

ul.side-menu ul li:last-child {
    border-bottom: none;
}

ul.side-menu ul ul {
    /*第三層以後的選單出現位置與第二層不同*/
    z-index: 999;
    top: 10px;
    left: 90%;
}

ul.side-menu ul {
    /*隱藏次選單*/
    display: none;
}

ul.side-menu li:hover>ul {
    /* 滑鼠滑入展開次選單*/
    display: block;
}

.material-icons,
.hidden-menu,
#hide {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}